force-app/main/default/flows/Bot_Entry_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallBotControllerReturnPolicy</name>
        <label>CallBotControllerReturnPolicy</label>
        <locationX>536</locationX>
        <locationY>506</locationY>
        <actionName>BotController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowReturnConfirmation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Política de Devolução</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>orderIdReturnPolicyInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>reasonInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <stringValue>123456</stringValue>
            </value>
        </inputParameters>
        <nameSegment>BotController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>returnPolicyConfirmationMessage</assignToReference>
            <name>responseMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CallBotControllerServiceContract</name>
        <label>CallBotControllerServiceContract</label>
        <locationX>800</locationX>
        <locationY>506</locationY>
        <actionName>BotController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowServiceContractConfirmation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Contratação de Serviço</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestedService</name>
            <value>
                <elementReference>requestedServiceInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <stringValue>12345</stringValue>
            </value>
        </inputParameters>
        <nameSegment>BotController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>serviceContractConfirmationMessage</assignToReference>
            <name>responseMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CallBotControllerSupport</name>
        <label>CallBotControllerSupport</label>
        <locationX>272</locationX>
        <locationY>506</locationY>
        <actionName>BotController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>showSupport</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Suporte Técnico</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>problemDescriptionInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>issueType</name>
            <value>
                <elementReference>issueTypeInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <stringValue>123456</stringValue>
            </value>
        </inputParameters>
        <nameSegment>BotController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>supportConfirmationMessage</assignToReference>
            <name>responseMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CallBotControllerTrack</name>
        <label>CallBotControllerTrack</label>
        <locationX>8</locationX>
        <locationY>506</locationY>
        <actionName>BotController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowTracking</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Rastreamento de Pedido</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>orderIdInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <stringValue>123456</stringValue>
            </value>
        </inputParameters>
        <nameSegment>BotController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>botResponseMessage</assignToReference>
            <name>responseMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>returnPolicy</name>
        <choiceText>Política de Devolução</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Política de Devolução</stringValue>
        </value>
    </choices>
    <choices>
        <name>serviceContract</name>
        <choiceText>Contratação de Serviço</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contratação de Serviço</stringValue>
        </value>
    </choices>
    <choices>
        <name>support</name>
        <choiceText>Suporte Técnico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suporte Técnico</stringValue>
        </value>
    </choices>
    <choices>
        <name>trackOrder</name>
        <choiceText>Rastrear meu pedido</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rastrear meu pedido</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DecideNextAction</name>
        <label>DecideNextAction</label>
        <locationX>536</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rastrear_Pedido</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>actionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rastrear meu pedido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AskOrderId</targetReference>
            </connector>
            <label>Rastrear Pedido</label>
        </rules>
        <rules>
            <name>Suporte_Tecnico</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>actionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suporte Técnico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DescribeProblemScreen</targetReference>
            </connector>
            <label>Suporte Técnico</label>
        </rules>
        <rules>
            <name>Politica_de_Devolucao</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>actionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Política de Devolução</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DescribeReturnReasonScreen</targetReference>
            </connector>
            <label>Política de Devolução</label>
        </rules>
        <rules>
            <name>Contratacao_de_Servico</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>actionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contratação de Serviço</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DescribeServiceScreen</targetReference>
            </connector>
            <label>Contratação de Serviço</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bot_Entry_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Desafio ChatBot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AskOrderId</name>
        <label>AskOrderId</label>
        <locationX>8</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CallBotControllerTrack</targetReference>
        </connector>
        <fields>
            <name>orderIdInput</name>
            <dataType>String</dataType>
            <fieldText>Informe o número da ordem de serviço:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DescribeProblemScreen</name>
        <label>DescribeProblemScreen</label>
        <locationX>272</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CallBotControllerSupport</targetReference>
        </connector>
        <fields>
            <name>problemDescriptionInput</name>
            <fieldText>Descreva seu problema:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>issueTypeInput</name>
            <dataType>String</dataType>
            <fieldText>Qual o tipo do problema?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DescribeReturnReasonScreen</name>
        <label>DescribeReturnReasonScreen</label>
        <locationX>536</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CallBotControllerReturnPolicy</targetReference>
        </connector>
        <fields>
            <name>orderIdReturnPolicyInput</name>
            <dataType>String</dataType>
            <fieldText>Informe o número da ordem de serviço?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>reasonInput</name>
            <dataType>String</dataType>
            <fieldText>Por qual motivo deseja devolver o produto?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DescribeServiceScreen</name>
        <label>DescribeServiceScreen</label>
        <locationX>800</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CallBotControllerServiceContract</targetReference>
        </connector>
        <fields>
            <name>requestedServiceInput</name>
            <dataType>String</dataType>
            <fieldText>Qual serviço você deseja contratar?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowReturnConfirmation</name>
        <label>ShowReturnConfirmation</label>
        <locationX>536</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowReturnPolicyConfirmation</name>
            <fieldText>&lt;p&gt;{!returnPolicyConfirmationMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowServiceContractConfirmation</name>
        <label>ShowServiceContractConfirmation</label>
        <locationX>796</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>serviceContractConfirmationMessageLabel</name>
            <fieldText>&lt;p&gt;{!serviceContractConfirmationMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSupport</name>
        <label>showSupport</label>
        <locationX>272</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>supportMessage</name>
            <fieldText>&lt;p&gt;{!supportConfirmationMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowTracking</name>
        <label>ShowTracking</label>
        <locationX>8</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>trackingMessage</name>
            <fieldText>&lt;p&gt;{!botResponseMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WelcomeScreen</name>
        <label>WelcomeScreen</label>
        <locationX>536</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecideNextAction</targetReference>
        </connector>
        <fields>
            <name>actionChoice</name>
            <choiceReferences>trackOrder</choiceReferences>
            <choiceReferences>support</choiceReferences>
            <choiceReferences>returnPolicy</choiceReferences>
            <choiceReferences>serviceContract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>O que deseja fazer?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>WelcomeScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>botResponseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>issueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnPolicyConfirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceContractConfirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>supportConfirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
